.parentContainer {
    width: 99%;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.wrapper {
    margin: 0.5em;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7em;
}

.header > h3 {
    font-size: 1rem;
    font-weight: 700;
}

.header > .circle {
    height: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.title {
    margin-top: 1em;
    display: flex;
    width: 96%;
    margin-left: auto;
    margin-right: 1em;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.title > h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.visitorData {
    align-items: center;
    display: flex;
    color: #84818A;
    gap: 0.5em;
}

.visitorData > img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}