.page {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main {
    width: 93%;
    font-family: "Inter", sans-serif;
    overflow-y: auto;
    padding: 1.2vw 2vw 4vw 2vw;
}

.main > h1 {
    color: #6A6B70;
    font-size: 1.3rem;
    font-weight: 400;
}