.page {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main {
    width: 93%;
    font-family: 'Poppins', sans-serif;
    padding: 1.2vw 0 3vw 2vw;
    overflow-y: auto;
}

.main > h1 {
    color: #6A6B70;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    /* background-color: rgba(102, 51, 153, 0.1); */
    padding: 1em 0 1em 1em;
    display: flex;
}

.chatBotContainer {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    /* height: 10vh; */
    /* background-color: red; */
}

.customizationContainer {
    width: 37%;
    height: 85vh;
    /* overflow-y: auto; */
    padding: 2% 2%;
    margin-bottom: 2%;
    /* background-color: red; */
}

.customizationContainer > form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}