/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap"); */

.main {
    font-family: "Inter", sans-serif;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 85%;
    margin: 4em auto 0 auto;
    display: flex;
    gap: 7em;
}

.middle {
    width: 85%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    border: 1px solid #6FA4D7;
    border-radius: 8px;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

.platformWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.platformWrapper > div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.planContainer {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
}

.chatbot {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Helvetica", sans-serif;
    gap: 2vh;
}

.chatbotButton {
    background-color: #33475b;
    width: clamp(50px, 4vw, 200px);
    /* width: 4vw; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.landerChatbotStyles {
    width: 25vw;
}

.chatContainer {
    height: 300px;
    overflow-y: auto;
}

.chatContainer > div {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.chatContainer > div > img {
    width: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-self: flex-start;
}

/* .chatbotButton > img {
    width: 70%;
    height: auto;
} */

@media (max-width: 768px) {
    .chatbot {
        width: 95%;
        bottom: 0;
        right: 0;
        margin: 2.5%;
    }
    
    .landerChatbotStyles {
        width: 100%;
    }

    .main {
        display: none;
    }

    .chatContainer {
        height: 600px;
        overflow-y: auto;
    }
}