@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

.page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 97vh;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 1em;
}

.page > img {
    width: 30%;
}

.containerHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 1em;
}

.textInput > input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.2em;
    border-radius: 0.3rem;
}

.textInput > input:focus {
    outline: none;
}

.textInput > label {
    color: #666666;
    font-size: 0.7rem;
}

.formContainer > div > label {
    display: block;
}

.checkboxContainer {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.checkboxContainer input {
    margin-top: 0.1em;
}

.formContainer button {
    font-size: 1.1rem;
    background-color: #AAAAAA;
    color: #FFFFFF;
    border: none;
    border-radius: 2rem;
    padding: 0.5em 0;
    margin-top: 0.5em;
}

.main footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    color: #666666;
    height: 3vh;
}

/* mobiles */
@media (max-width: 600px) {
    .page > img {
        display: none;
    }

    .main {
        width: 100%;
        padding: 1em;
    }

    .container {
        width: 100%;
        padding: 1em;
    }
}

/* laptops */
@media (min-width: 1023px) {
    .container {
        width: 50%;
        margin: 1em auto 0 auto;
    }

    .page h1 {
        display: none;
    }
}

@media (min-width: 1023px) and (max-width: 1150px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1151px) and (max-width: 1439px) {
    html {
        font-size: 15px;
    }
}