.pageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageBox > img {
    width: 30%;
    height: auto;
}

.pageBox > p {
    font-size: 0.8rem;
    margin-top: 0.3em;
    text-align: center;
}

/* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;;
} */