@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.color-blue {
  color: #1877F2 !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  /* border: none; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
input[type="date"] {
  position: relative;
}

textarea {
  resize: none;
}


button {
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 1500px) {
  html {
    font-size: clamp(8px, 1.25vw, 30px);
  }
}

@media (min-width: 1501px) {
  html {
    font-size: clamp(8px, 2vw, 30px);
  }
}